<tr class="govuk-table__row">
  <td class="govuk-table__cell"><%= access_request.id %></td>
  <td class="govuk-table__cell"><%= access_request.request_date_utc&.to_s(:long) %></td>
  <td class="govuk-table__cell"><%= user_details(access_request.requester) %></td>
  <td class="govuk-table__cell"><%= user_details(access_request.recipient) %></td>
</tr>
