<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    Could not approve request #<%= flash[:access_request_id] %>, error: <%= flash[:notice] %>
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <% if flash[:notice] == 'unauthorized' %>
        <li>
          The Manage API could not authorise the request.
          This could mean the API key has expired, or is not set.
        </li>
      <% elsif flash[:notice] == 'not-found' %>
        <li>
          The Manage API could not find the access request with the specified ID.
          This could mean the request you tried to authorise, or the requester, no longer exists.
        </li>
      <% end %>
      <li><strong>Please speak to someone in the Becoming a Teacher team.</strong></li>
    </ul>
  </div>
</div>
