.bar {
  border: 5px solid $govuk-border-colour;
  font-weight: bold;
  position: relative;
  width: 100%;
}

.bar-progress {
  background: govuk-colour("yellow");
  box-sizing: border-box;
  height: govuk-spacing(7);
  line-height: govuk-spacing(7);
  padding: 0 govuk-spacing(2);
  white-space: nowrap;
}

.bar-progress-text {
  font-weight: bold
}
