$govuk-image-url-function: "image-url";
$govuk-font-url-function: "font-url";
$govuk-global-styles: true;
// This is the govuk-button-colour which isn't currently accessible from the design system
// https://github.com/alphagov/govuk-design-system-backlog/issues/38#issuecomment-418295171
// This variable is temporary and can be removed in the future if this is addressed.
$success-green: #00823b;

@import "../node_modules/govuk-frontend/all";
@import "bar";
@import "success_summary";
