.bar {
  border: 5px solid $govuk-border-colour;
  width: 100%;
  position: relative;
  font-weight: bold;
}

.bar-progress {
  background: govuk-colour("yellow");
  height: govuk-spacing(7);
  line-height: govuk-spacing(7);
  padding: 0 govuk-spacing(2);
  box-sizing: border-box;
  white-space: nowrap;
}
