<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    <%= flash[:error_summary] || "There is a problem" %>
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <% flash[:errors].each do |error| %>
        <li><%= error["text"] %></li>
      <% end %>
    </ul>
  </div>
</div>
