<div class="govuk-success-summary" aria-labelledby="success-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-success-summary__title govuk-!-margin-bottom-0" id="success-summary-title">
    <%= flash[:notice] %>
  </h2>
</div>
